.head{
	background-color: #333333;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 70px;
}
.main1{
	margin: 60px 540px 60px 20px;
	padding: 0px;
}
.image{
	width: 30%;
	height: 30%;
}
.main {
	display: block;
    height: auto;
    border-style: groove;
    padding: 10px; 
    margin: 20px;
}
.side {
    float: right;
    width: 400px;
    border-style: groove;
    margin: 60px;
    padding: 10px;   
}
.head img{
	float: left;
	padding-left: 5px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.head:after{
	content: "";
	display: block;
	clear:none;
}
.side:after{
	content: "";
	display: block;
	clear:both;
}
.main1:after{
	content: "";
	display: block;
	clear:both;
}
.foot:after{
	content: "";
	display: block;
	clear:both;
}
.list a{
	text-decoration: none;
	color: white;
}
.list{
    float: right;
    padding: 0px;
    margin: 0px;	
}
.list li{
	display: inline;
    line-height: 70px;
    text-decoration: none;
}

.submit{
	background-color: #3355d0;
	width:250px;
	color: white;
	padding: 5px;
}
.title{
	font-weight: 100;
}
.picture{
	display: inline-block;
	width:15%;
	border-style: groove;
	text-align: center;
	margin: 10px 8px;
}
.picture img{
	width: 75%;
	height: 75%;
}
table{
	text-align: left;
	width:100%;
}
th,td{
	 
	 text-align: left;	  
	 }
 thead th{
 	background-color:#333333;
 	color: white;
}
.foot{
	float: left;
	background-color: #333333;
	width: 100%;
	text-align: center;
	color: white;
}
body{
	float: left;
	margin:0px;
	padding:0px;
}
.description{
	vertical-align: top;
}